GYM/
VGM/
*.swp
*.swo
*.o
*.d
*.gym
*.vgm
*.vgz
*.raw
*.pcm
*.wav
*.aup
*_data/
gym_test
gym_test2
vgm_test
vgm_test2
jake_test
gym_test.exe
gym_test2.exe
vgm_test.exe
vgm_test2.exe
jake_test.exe
output.raw
temp.txt
test.txt
ssg.txt
ssgon.txt
ssgoff.txt
tags
